container_commands:
    01_activate:
        command: "source ~/.virtualenvs/rapbackvenv/bin/activate"
        leader_only: true
    02_syncdb:
        command: "python migrate"
        leader_only: true

option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "rapback.settings"
        "application_stage": "ppe"
        INSTANCE_ID: PPE
    "aws:elasticbeanstalk:container:python":
        WSGIPath: rapback/wsgi.py
        NumProcesses: 3
        NumThreads: 20
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "static/"