container_commands:
    01_syncdb:
        command: "python manage.py migrate"
        leader_only: true

option_settings:
    - option_name: WSGIPath
      value: rapback/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: rapback.settings
    - option_name: INSTANCE_ID
      value: PPE
